@font-face {
  font-family: "Montserrat";
  src: url(..//fonts/static/Montserrat-Regular.woff);
  src: url(../fonts/static/AnyConv.com__Montserrat-Regular.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/static/Montserrat-SemiBold.woff);
  src: url(../fonts/static/AnyConv.com__Montserrat-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/static/Montserrat-Bold.woff);
  src: url(../fonts/static/AnyConv.com__Montserrat-Bold.woff2);
  font-weight: 900;
  font-style: normal;
}
