@import "../helpers/normalize";

*{
  margin: 0;
  padding: 0;
}
:root {
  /* color */
  --c1: #fff;
  --c2: #000000;
  --c3: #E6FB04;
  // --c4: ;
  // --c5: ;
  // --c6: ;
  // --c7: ;
  --cloud-p: 15rem;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::selection {
  color: var(--c3);
  -webkit-text-fill-color: var(--c3);
  background-color: var(--c2);
}

* {
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-width: none;

  &:focus {
    outline: none;
  }

  *::before,
  *::after {
    box-sizing: inherit;
  }

  ul{
    list-style: none;
  }
}



html,
body {
  height: 100%;
}

body {
  font-family: var(--ff);
}

html {
  /* font */
  --ff: Montserrat, sans-serif;
  --fz: max(1vw, 16px);
  --fwB: bold;
  --fwM: 600;
  --fwR: normal;

  /* offset */
  --offset: max(calc(1.25 * 1vw), 15px);
  --offset-l: calc(var(--offset) * 2);
  // --offset-m: ;
  // --offset-s: ;
  // --offset-xs: ;
  --offsetMenu: var(--offset);



  /* width & height */
  --wMenu: calc(var(--offset) * 4.5);
  --hHeader: calc(var(--offset) * 2.1);
}


