<section class="capsule">
  <div class="capsule-left">
    <h3 class="capsule-left__title title">СПА КАПСУЛА</h3>
    <div class="capsule-img">
      <img width="275px" src="./img/image/Rectangle 9.png" alt="33" />
      <span class="capsule-img__text">ОМОЛОДИТ ТЕЛО</span>
    </div>
    <div class="fitting">
        <img width="500px" class="fitting-img" src="./img/image/Group 126.png" alt="31">
        <span class="fitting-title">НОВЫЙ ПОДГОН</span>
        <p class="fitting-subtitle">Уникальная многофункциональная установка,  которая омолодит твое тело за пару приемов.</p>
        <div class="fitting-button">
            <a class="fitting-button__btn" href="#!">МОЛОДОСТЬ</a>
        </div>
    </div>
  </div>
  <div class="capsule-right">
    <img class="capsule-right__img" src="./img/image/Group 32.png" alt="spa">
  </div>
</section>
