<section class="about">
  <div class="about-us">
    <div class="about-left">
      <img
        class="about-left__image"
        src="/img/image/a13907136816229 1.png"
        alt="32"
      />
      <img
        class="about-left__images"
        src="/img/image/b9672b77296017 1.png"
        alt="32"
      />
    </div>
    <div class="about-text">
      <h3 class="about-text__title title">О НАС</h3>
      <span class="about-text__subtitle"
        >Наше дело - это творчество, рамки не для нас! Рвем шаблоны и диктуем
        как надо
      </span>
      <span class="about-text__subtitle">
        Дядя Chill - это креатив, смелость и уверенность. Приходи и сам
        почувствуй силу chillовой атмосферы</span
      >
      <div class="buttons">
        <a class="buttons-btn" href="#!">ХОЧУ ЗНАТЬ БОЛЬШЕ</a>
      </div>
    </div>

    <div class="about-right">
      <img
        class="about-right__img"
        src="./img/image/711c6061358363 1.png"
        alt="32"
      />
      <img
        class="about-right__imgs"
        src="./img/image/09027a98445863 1.png"
        alt="32"
      />
    </div>
  </div>
  <div class="about-animation">
    <span class="about-animation__text">ДЯДЯ CHILL-ЭТО</span>
    <span class="about-animation__text">ДЯДЯ CHILL-ЭТО</span>
    <span class="about-animation__text">ДЯДЯ CHILL-ЭТО</span>
    <span class="about-animation__text">ДЯДЯ CHILL-ЭТО</span>
    <span class="about-animation__text">ДЯДЯ CHILL-ЭТО</span>
    <span class="about-animation__text">ДЯДЯ CHILL-ЭТО</span>
    <span class="about-animation__text">ДЯДЯ CHILL-ЭТО</span>
    <span class="about-animation__text">ДЯДЯ CHILL-ЭТО</span>
    <span class="about-animation__text">ДЯДЯ CHILL-ЭТО</span>
    <span class="about-animation__text">ДЯДЯ CHILL-ЭТО</span>
    <span class="about-animation__text">ДЯДЯ CHILL-ЭТО</span>
  </div>
</section>
