<footer class="footer">
  <div class="footer-inner">
    <div class="footer-col">
      <a class="footer-logo" href="#!">
        <svg height="35" width="190">
          <use xlink:href="#icon-uncle"></use>
        </svg>
      </a>
      <b class="footer-copyright">© 2022 unclechill.uz</b>
    </div>
    <div class="footer-col">
      <div class="footer-social">
        <b class="footer-social__title">МЫ В СОЦ СЕТЯХ</b>
        <div class="footer-row">
          <a class="footer-row__link" href="#!">
            <svg class="footer-row__svg" height="30" width="30">
              <use xlink:href="#icon-instagram"></use>
            </svg>
          </a>
          <a class="footer-row__link" href="#!">
            <svg class="footer-row__svg" height="30" width="30">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
          <a class="footer-row__link" href="#!">
            <svg class="footer-row__svg" height="30" width="30">
              <use xlink:href="#icon-telegram"></use>
            </svg>
          </a>
        </div>
        <a class="footer-row__link" href="#!">
          <svg class="footer-row__svg" height="50" width="31">
            <use xlink:href="#icon-alex"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="footer-col">
      <ul class="footer-menu">
        <li class="footer-menu__item">
          <a class="footer-menu__link" href="#!">О НАС</a>
        </li>
        <li class="footer-menu__item">
          <a class="footer-menu__link" href="#!">УСЛУГИ</a>
        </li>
        <li class="footer-menu__item">
          <a class="footer-menu__link" href="#!">ПРОДУКЦИЯ</a>
        </li>
        <li class="footer-menu__item">
          <a class="footer-menu__link" href="#!">МАСТЕРА</a>
        </li>
        <li class="footer-menu__item">
          <a class="footer-menu__link" href="#!">КАПСУЛА</a>
        </li>
        <li class="footer-menu__item">
          <a class="footer-menu__link" href="#!">АКЦИИ</a>
        </li>
        <li class="footer-menu__item">
          <a class="footer-menu__link" href="#!">КОНТАКТЫ</a>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <ul class="footer-list" aria-label="Контактная информация">
        <li class="footer-list__item">
          <span class="footer-list__name">ТЕЛЕФОН</span>
          <a class="footer-list__link" href="tel +998977766692"
            >+998 (97) 776-66-92</a
          >
        </li>
        <li class="footer-list__item">
          <span class="footer-list__name">РЕЖИМ РАБОТЫ</span>
          <span class="footer-list__text">С 10:00 ДО 22:00</span>
        </li>
        <li class="footer-list__item">
          <span class="footer-list__name">АДРЕС</span>
          <span class="footer-list__text"
            >Г. ТАШКЕНТ, УЛ.МАТБУОТЧИЛАР, 17 ТРЦ ЗАРАФШАН</span
          >
        </li>
      </ul>
    </div>
    <div class="footer-sticker">
      <span class="footer-sticker__circular">
        <svg height="100" width="100" class="footer-svg" viewBox="0 0 100 100">
          <path d="M0,50 a50,50 0 1,1 0,1z" id="circle"></path>
          <text>
            <textPath xlink:href="#circle">
              Звони если чё Звони если чё Звони если чё Звони если чё
            </textPath>
          </text>
        </svg>
      </span>
      <span class="footer-sticker__circle">
        <svg class="footer-sticker__svg" width="20" height="20">
          <use xlink:href="#icon-phone"></use>
        </svg>
      </span>
    </div>
  </div>

  <img class="footer-img__image" src="./img/image/eb7f6714187877.5627f36b0b61a 2.png" alt="346" />

</footer>
