<section class="friend">
  <h3 class="friend-title title">ДРУЗЬЯ ПО ДУХУ</h3>
  <div class="swiper-friend">
    <div class="swiper-holder">
      <div class="swiper-cardsholder">
        <img class="swiper-cardsholder__img" src="./img/image/Rectangle 13.png" alt="33" />
          <div class="swiper-bg">
            <p class="swiper-bg__caption swiper-bg__caption--wh">Обслуживаясь в Uncle Chill, вы всегда сможете рассчитывать на качественную продукцию премиального качества</p>
            <a class="swiper-bg__link" href="#!">
              <svg class="swiper-bg__svg" height="30" width="30">
                <use xlink:href="#icon-instagram"></use>
              </svg>
              kingbrownpomade
            </a>
          </div>
      </div>
      <div class="swiper-cardsholder">
        <img class="swiper-cardsholder__img" src="./img/image/Rectangle 113.png" alt="33" />
        <div class="swiper-bg swiper-bg--yellow">
          <p class="swiper-bg__caption ">Обслуживаясь
            в Uncle Chill, вы всегда
            сможете рассчитывать
            на качественную продукцию премиального качества</p>
          <a class="swiper-bg__link swiper-bg__link--bl" href="#!">
            <svg class="swiper-bg__svg swiper-bg__svg--black"  height="30" width="30">
              <use xlink:href="#icon-instagram"></use>
            </svg>
            american_crew
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="friend-animation">
    <span class="friend-animation__subtitle">КОГДА СТРИЖКА, ЭТО ЛИШЬ ПОВОД.#ДЯДЯЧИЛЛ </span>
    <span class="friend-animation__subtitle">КОГДА СТРИЖКА, ЭТО ЛИШЬ ПОВОД.#ДЯДЯЧИЛЛ </span>
    <span class="friend-animation__subtitle">КОГДА СТРИЖКА, ЭТО ЛИШЬ ПОВОД.#ДЯДЯЧИЛЛ </span>
    <span class="friend-animation__subtitle">КОГДА СТРИЖКА, ЭТО ЛИШЬ ПОВОД.#ДЯДЯЧИЛЛ </span>
    <!-- <span class="friend-animation__subtitle">КОГДА СТРИЖКА, ЭТО ЛИШЬ ПОВОД.#ДЯДЯЧИЛЛ </span> -->
    <!-- <span class="friend-animation__subtitle">КОГДА СТРИЖКА, ЭТО ЛИШЬ ПОВОД.#ДЯДЯЧИЛЛ </span> -->
    <!-- <span class="friend-animation__subtitle">КОГДА СТРИЖКА, ЭТО ЛИШЬ ПОВОД.#ДЯДЯЧИЛЛ </span> -->
    <!-- <span class="friend-animation__subtitle">КОГДА СТРИЖКА, ЭТО ЛИШЬ ПОВОД.#ДЯДЯЧИЛЛ </span> -->
    <!-- <span class="friend-animation__subtitle">КОГДА СТРИЖКА, ЭТО ЛИШЬ ПОВОД.#ДЯДЯЧИЛЛ </span> -->
  </div>
</section>
