<header class="header active">
  <a class="header-logo logo" href="#!">
    <svg height="35" width="190">
      <use xlink:href="#icon-uncle"></use>
    </svg>
  </a>
  <div class="header-row">
    <ul class="header-row__list">
      <li class="header-row__item">
        <a class="header-row__link" href="#!">
          <svg
            class="header-row__svg header-row__svg--yellow"
            height="30"
            width="30">
            <use xlink:href="#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-row__item">
        <a class="header-row__link" href="#!">
          <svg
            class="header-row__svg header-row__svg--brass"
            height="30"
            width="30"
          >
            <use xlink:href="#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-row__item">
        <a class="header-row__link" href="#!">
          <svg
            class="header-row__svg header-row__svg--quartz"
            height="30"
            width="30"
          >
            <use xlink:href="#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <a class="header-btn" href="#!" aria-label="">
      <svg class="header-btn__svg" height="30" width="30">
        <use xlink:href="#icon-group"></use>
      </svg>
    </a>
    <ul class="header-row__list">
      <li class="header-row__item"><span class="header-row__lang">РУ</span></li>
      <li class="header-row__item">
        <span class="header-row__lang">O'Z</span>
      </li>
      <li class="header-row__item"><span class="header-row__lang">EN</span></li>
    </ul>
  </div>

  <span class="header-number">+998 (97) 776-66-92</span>
  <!-- <button class="burger-button" type="button">
    <i class="menuIcon material-icons">
      <svg height="25px" width="25px" class="burger-svg">
        <use xlink:href="#icon-burgermenu"></use>
      </svg>
    </i> 
  </button> -->
</header>

<!-- <div class="modal-overlay ">
  <div class="modal">
    <button class="modal-btn modal-btn__close">
      <svg height="25px" width="25px" class="modal-svg">
        <use xlink:href#="icon-close"></use>
      </svg>
    </button>
    <a class="modal-logo logo" href="#!">
      <svg width="165" height="20" class="header-svg">
        <use xlink:href="#icon-logo"></use>
      </svg>
    </a>
    <div class="modal-row">
      <ul class="modal-row__list">
        <li class="modal-row__item">
          <a class="modal-row__link" href="">Headphones</a>
        </li>
        <li class="modal-row__item">
          <a class="modal-row__link" href="">Speakers</a>
        </li>
        <li class="modal-row__item">
          <a class="modal-row__link" href="">Audio sunglasses</a>
        </li>
        <li class="modal-row__item">
          <a class="modal-row__link" href="">Support</a>
        </li>
      </ul>
    </div>
    <div class="modal-right">
      <a class="modal-btn" href="#!" aria-label="Корзина">
        <svg class="modal-btn__icon" width="25" height="25">
          <use xlink:href="#icon-cart"></use>
        </svg>
      </a>
      <a class="modal-btn" href="#!" aria-label="Поиск">
        <svg class="modal-btn__icon" width="25" height="25">
          <use xlink:href="#icon-search"></use>
        </svg>
      </a>
      <details class="details">
        <summary class="details-summary">
          <div class="details-summary__photo">
            <img
              height="35"
              width="35"
              src="./img/image/Ellipse 10.png"
              alt="Профиль"
            />
          </div>
          <svg class="details-summary__arrow" height="25" width="25">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </summary>
        <div class="details-inner"></div>
      </details>
    </div>
  </div>
</div> -->
