<section class="masters">
  <h3 class="headline-title">МАСТЕРА</h3>

  <div class="masters-row">
    <div class="masters-swiper">
      <div class="employees">
        <img src="./img/image/c16a5b98445863.5edc7dbb2e1df 1.png" alt="33">
        <div class="description">
          <h3 class="description-title">ДАЛГАТ МУСАЕВ</h3>
          <span class="description-experience">Опыт работы 7 лет</span>
          <p class="description-subtitle">
            “Мое призвание определилось, когда мне было шесть лет, и я выстриг
            себе клок волос, желая стать модным.”
          </p>
        </div>
      </div>
      <div class="employees">
        <img src="/img/image/386c0e14287961 1.png" alt="33">
        <div class="description">
          <h3 class="description-title">ФЕДР БАРЫШЕВСКИЙ</h3>
          <span class="description-experience">Опыт работы 18 лет</span>
          <p class="description-subtitle">
            “Еще с малых лет мне нравилась эта профессия. Любовь к стрижкам
            привила мне моя мама.”
          </p>
        </div>
      </div>
      <div class="employees">
        <img src="./img/image/b8b86014287961.56280de941874 1.png" alt="33">
        <div class="description">
          <h3 class="description-title">ИГОРЬ САЛОМАТИН</h3>
          <span class="description-experience">Опыт работы 15 лет</span>
          <p class="description-subtitle">
            “Современный мужчина должен выглядеть безупречно. Моя работа –
            помочь Вам в этом.”
          </p>
        </div>
      </div>
      <div class="employees">
        <img src="./img/image/b8b86014287961.56280de941874 1.png" alt="33">
        <div class="description">
          <h3 class="description-title">ИГОРЬ САЛОМАТИН</h3>
          <span class="description-experience">Опыт работы 15 лет</span>
          <p class="description-subtitle">
            “Современный мужчина должен выглядеть безупречно. Моя работа –
            помочь Вам в этом.”
          </p>
        </div>
      </div>
      <div class="employees">
        <img src="./img/image/b8b86014287961.56280de941874 1.png" alt="33">
        <div class="description">
          <h3 class="description-title">ИГОРЬ САЛОМАТИН</h3>
          <span class="description-experience">Опыт работы 15 лет</span>
          <p class="description-subtitle">
            “Современный мужчина должен выглядеть безупречно. Моя работа –
            помочь Вам в этом.”
          </p>
        </div>
      </div>
      <div class="employees">
        <img src="./img/image/b8b86014287961.56280de941874 1.png" alt="33">
        <div class="description">
          <h3 class="description-title">ИГОРЬ САЛОМАТИН</h3>
          <span class="description-experience">Опыт работы 15 лет</span>
          <p class="description-subtitle">
            “Современный мужчина должен выглядеть безупречно. Моя работа –
            помочь Вам в этом.”
          </p>
        </div>
      </div>
      <div class="employees">
        <img src="./img/image/b8b86014287961.56280de941874 1.png" alt="33">
        <div class="description">
          <h3 class="description-title">ИГОРЬ САЛОМАТИН</h3>
          <span class="description-experience">Опыт работы 15 лет</span>
          <p class="description-subtitle">
            “Современный мужчина должен выглядеть безупречно. Моя работа –
            помочь Вам в этом.”
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="masters-icon">
    <button class="arrow-prev" type="button">
      <svg class="masters-icon__prev" height="30" width="30">
        <use xlink:href="#icon-arrow1"></use>
      </svg>
    </button>
    <button class="arrow-next" type="button">
      <svg class="masters-icon__next" height="30" width="30">
        <use xlink:href="#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
