<section class="peculiarities">
  <div class="advantages">
    <div class="advantages-bg__top">
        <picture><img src="./img/image/bg.png" alt="облако"></picture>
    </div>
    <div class="advantages-bg__bottom">
        <picture><img src="./img/image/bg2.png" alt="облако"></picture>
    </div>
    <h2 class="advantages-title">НАШИ ОСОБЕННОСТИ</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <span class="advantages-list__count">1</span>
        <div class="advantages-list__content">
          <b class="advantages-list__name">ВОСТОЧНОЕ ГОСТЕПРИИМСТВО</b>
          <p>Напитки в стиле “Салам-Алейкум” от молока до коньяка</p>
        </div>
      </li>
      <li class="advantages-list__item">
        <span class="advantages-list__count">2</span>
        <div class="advantages-list__content">
          <b class="advantages-list__name">ОСОБЕННЫЙ ПОДХОД</b>
          <p>Лучшие #чиллмастера и барберы с руками из плеч</p>
        </div>
      </li>
      <li class="advantages-list__item">
        <span class="advantages-list__count">3</span>
        <div class="advantages-list__content">
          <b class="advantages-list__name">ДЯДЯЧИЛЛ ОБО ВСЕМ ПОЗАБОТИЛСЯ</b>
          <p>Есть удобная парковка для вашей машины, байка и ботинка</p>
        </div>
      </li>
    </ul>
  </div>
</section>
