<section class="products">
  <div class="col products-col">
    <h3 class="products-col__title title">Продукция</h3>
    <p class="products-col__subtitle">
      У нас вы можете приобрести средства для ухода за волосами и бородой нашего
      производства. Лайм , садовая мята, все как вы любите.
    </p>
    <div class="products-button">
      <a class="products-button__btn" type="button">УЖЕ ХОЧУ КУПИТЬ</a>
    </div>
    <img src="./img/image/lzlz 3.png" alt="32" />
  </div>
  <div class="swiper">
    <div class="swiper-cards">
      <div class="swiper-cards__slide">
        <img class="swiper-cards__img scale" src="./img/image/Group 26.png" alt="33" />
      </div>
      <div class="swiper-cards__slide">
        <img class="swiper-cards__img scale" src="./img/image/Group 27.png" alt="33">
      </div>
      <div class="swiper-cards__slide">
        <img class="swiper-cards__img scale" src="./img/image/Group 29.png" alt="33" />
      </div>
      <div class="swiper-cards__slide">
        <img class="swiper-cards__img scale" src="./img/image/Group 28.png" alt="33" />
      </div>
      <div class="swiper-cards__slide">
        <img class="swiper-cards__img scale" src="./img/image/Group 30.png" alt="33" />
      </div>
      <div class="swiper-cards__slide">
        <img class="swiper-cards__img scale" src="./img/image/Group 31.png" alt="33" />
      </div>
    </div>
  </div>
  <div class="cards-animation">
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
    <span class="cards-animation__subtitle">НИШТЯКИ</span>
  </div>
</section>
