<section class="stock">
  <h3 class="stock-title">АКЦИИ</h3>
  <div class="sale">
    <div class="sale-left">
      <img class="sale-left__image" src="./img/image/Ellipse 2.png" alt="35" />
      <img class="sale-left__img"src="./img/image/0e99d329632469.55fc0c991c9e0 1.png" alt="35"/>
      <span class="sale-action">
        <svg viewBox="0 0 100 100"><path d="M0,50 a50,50 0 1,1 0,1z" id="circle"></path><text><textPath xlink:href="#circle">Скидка 20%Скидка 20%Скидка 20%Скидка 20%Скидка 20%Скидка 20%Скидка 20%Скидка 20%Скидка 20%Скидка 20% </textPath></text></svg>
      </span>
    </div>
    <div class="sale-right">
      <img class="sale-right__img" src="./img/image/Rectangle 16.png" alt="36" />
      <span class="sale-right__title">СОВМЕСТНЫЙ ВИЗИТ</span>
      <div class="sale-right sale-right--son">
        <img
          class="sale-son__img"
          width="200"
          height="50"
          src="./img/image/Rectangle 9.png"
          alt="35"
        />
        <b class="sale-son__title">ОТЕЦ + СЫН</b>
      </div>
      <p class="sale-right__text">20% выгоды при совместном посещении</p>
    </div>
  </div>

  <div class="stock-animation">
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
    <span class="stock-animation__subtitle">НИШТЯКИ</span>
  </div>
</section>



