<section class="vipprice">
  <div class="row vipprice-row">
    <div class="vipprice-left">
      <img
        class="vipprice-left__img"
        src="./img/image/96439b98445863.5edc7dbb2d348 (1) 1.png"
        alt="Мужик в шоке"
      />
    </div>
    <div class="vipprice-right">
      <h2 class="vipprice-right__title title">УСЛУГИ И ЦЕНЫ</h2>
      <div class="row-discount">
        <h3 class="row-discount__text">ПЕРВОЕ ПОСЕЩЕНИЕ 20% СКИДКА</h3>
      </div>
      <div class="texture">
        <picture><img src="./img/image/Rectangle 100.png" alt="das">
        </picture>
        <table class="table">
          <tr>
            <td>
              <h3 class="table-title">VIP КОМНАТА</h3>
            </td>
          </tr>
          <tr>
            <td>Мужская стрижка</td>
            <td><b>200 000</b></td>
          </tr>
          <tr>
            <td>Мужская стрижка под машинку</td>
            <td><b>120 000</b></td>
          </tr>
          <tr>
            <td>Моделирование усов и бороды</td>
            <td><b>100 000</b></td>
          </tr>
          <tr>
            <td>Мужская стрижка и моделирование бороды</td>
            <td><b>270 000</b></td>
          </tr>
          <tr>
            <td>Мужская стрижка и королевское бритьё</td>
            <td><b>260 000</b></td>
          </tr>
        </table>

        <div class="button-bnts">
          <a class="button-bnts__btn btn" type="button">ВСЕ УСЛУГИ</a>
        </div>
      </div>
    </div>
  </div>
  <div class="vipprice-animation">
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
    <span class="vipprice-animation__subtitle">НИШТЯКИ</span>
  </div>
</section>
